.board {
  display: grid;
  grid-template-columns: auto auto auto;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 400px;
  &__square {
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover,
    :focus {
      background-color: #e0e0e0;
    }
  }
}
