.board {
  width: 100%;
  max-width: 500px;
  margin: 80px auto 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  &__row {
    display: flex;
    width: 100%;
  }
  &__square {
    width: 33.333%;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
      background-color: #e0e0e0;
    }
  }
}
